.App {
  text-align: left;
  background-color: black; /* Закрашиваем задний фон в черный цвет */
  color: white; /* Опционально: изменяем цвет текста на белый для контраста */
  height: 100vh; /* Устанавливаем высоту на весь экран */
  width: 100vw; /* Устанавливаем ширину на весь экран */
  margin: 0; /* Убираем возможные отступы */
}
